// Fonts
$font-default: "Montserrat", sans-serif;
$border-radius-default: 4px;
$transition-default: all 150ms ease-in-out;

// Size variables
$screen-mobile: 576px;
$screen-tablet: 768px;
$screen-tablet-landscape: 992px;
$screen-desktop: 1200px;
$screen-desktop-lg: 1600px;