@import "variables";

%dashboard {
  .td-actions {
    button {
      &:not(:last-child) {
        margin-right: 0.5rem;
      }
    }
  }

  .badge {
    font-size: 0.8rem;
    letter-spacing: 1px;
  }

  .table {
    &.table--expanded {
      th,
      tr,
      td {
        border: 1px solid #ababab;
      }
    }

    &__row {
      &.table__row--details {
        height: 0;
        min-height: 0;
        overflow: hidden;

        &.table__row--expanded {
          @media screen and (max-width: $screen-tablet-landscape) {
            height: auto;

            .mat-cell {
              height: auto;
              overflow: auto;
            }
          }
        }

        @media only screen and (min-width: $screen-tablet-landscape) {
          height: auto;
          min-height: auto;
          overflow: auto;
        }
      }
    }

    tfoot {
      background-color: #dedede;
    }
  }

  @media screen and (max-width: $screen-tablet-landscape) {
    .mat-table {
      vertical-align: middle;
      border: 0;

      caption {
        font-size: 1em;
      }

      .mat-header-row {
        display: none;
      }

      .mat-row {
        display: block;
        min-height: auto;

        &:not(:last-child) {
          border-bottom: 5px solid #ddd;
        }
      }

      .mat-cell {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 50px;
        margin-bottom: 4%;
        padding: 0 1rem;
        overflow-y: auto;
        font-size: 1em;
        text-align: right;
        border-bottom: 1px solid #ddd;

        &::before {
          float: left;
          margin-right: 1rem;
          font-weight: 700;
          font-size: 0.85em;
          text-transform: uppercase;
          content: attr(data-label);
        }

        &:first-child {
          margin-top: 4%;
        }

        &:last-child {
          margin-bottom: 0;
          border-bottom: 0;
        }
      }
    }
  }
}
