// Fonts
$font-default: "Montserrat", sans-serif;

// Text Colors
$text-color: #333333;

// Size variables
$screen-mobile: 576px;
$screen-tablet: 768px;
$screen-tablet-landscape: 992px;
$screen-desktop: 1200px;
$screen-desktop-lg: 1600px;
