@import "variables";

.dashboard {
  padding-top: 0;

  &__header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 1rem;
  }

  &__button {
    width: 50px;
    height: 50px;
    color: $white;
    font-weight: bold;
    font-size: 1.6rem;
    background-color: $primary-color;
    border: none;
    border-radius: 50%;
  }

  .card-title {
    font-weight: 500;
    font-size: 1rem;
  }

  .btn {
    font-weight: bold;
    font-size: 1rem;
  }
}

.card-body {
  padding: 1rem 0;

  @media screen and (min-width: $screen-tablet-landscape) {
    padding: 0.9375rem 20px;
  }
}

.table {
  width: 100%;
  min-height: 50vh;
  margin-bottom: 0;
  overflow: auto;

  &__row {
    position: relative;

    &::after {
      position: absolute;
      bottom: 0;
      left: 0%;
      width: 100%;
      height: 1px;
      background-color: $gray-text;
      content: '';
    }

    &--details {
      height: 0;
      border: none;
    }

    &.table__row--head {
      min-height: auto;
      padding: 1rem 0;

      &:hover {
        background-color: transparent;
      }
    }

    &:not(.table__row--expanded) {
      &:hover {
        background-color: #efefef;
      }

      &:active {
        background-color: $gray-text;
      }
    }

    td {
      border: 0;
    }

    th {
      border: none;
    }

    @media only screen and (min-width: $screen-tablet-landscape) {
      display: grid;
      grid-template-columns: 50px 100px minmax(100px, 1fr) repeat(5, 80px);
      gap: 1rem;
      align-items: center;
      min-height: 80px;
    }
  }

  &__cell {
    &--overflow {
      overflow: auto;
    }

    &--details {
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      border-radius: 8px;

      tr {
        &:nth-child(odd) {
          background-color: #e1e1e1;
        }
      }
    }
  }
}
