<div class="main-content">
    <div class="row justify-content-between">
        <div class="col-12 col-md-3">
            <mat-form-field appearance="outline">
                <mat-label>Pesquisar</mat-label>
                <input matInput placeholder="Pesquisar" (keyup)="applyFilter($event.target.value)">
                <mat-icon matSuffix>search</mat-icon>
                <mat-hint>Exemplo: Observação, datas</mat-hint>
            </mat-form-field>
        </div>

        <div class="col-12 col-md-3 mr-1 d-flex justify-content-end">
            <button [routerLink]="['/solicitacoes/criar']" color="primary" rel="tooltip" mat-fab matTooltip="Adicionar solicitação">
                <i class="material-icons">add</i>
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header card-header-info">
                    <h4 class="card-title">Solicitações de Compra</h4>
                </div>
                <div class="card-body">
                    <div class="table table-responsive mat-elevation-z8">
                        <mat-table matSortDisableClear matSortActive="id" matSortDirection="asc" multiTemplateDataRows
                            [dataSource]="dataSource" matSort>
                            <ng-container matColumnDef="id">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>#</mat-header-cell>
                                <mat-cell *matCellDef="let element" data-label="#">
                                    {{ element.id }}
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="requester">
                                <mat-header-cell *matHeaderCellDef>Solicitante</mat-header-cell>
                                <mat-cell *matCellDef="let element" data-label="Solicitante">
                                    {{ element.requester.name }}
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="justification">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Observação</mat-header-cell>
                                <mat-cell *matCellDef="let element" data-label="Observação">
                                    {{ element.justification || '-' }}
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="requestDate">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Data Requisitada</mat-header-cell>
                                <mat-cell *matCellDef="let element" data-label="Data Requisitada">
                                    {{ element.requestDate | dateFormat }}
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="desiredDate">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Data Desejada</mat-header-cell>
                                <mat-cell *matCellDef="let element" data-label="Data Desejada">
                                    {{ element.desiredDate | dateFormat }}
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="priority">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Prioridadade</mat-header-cell>
                                <mat-cell *matCellDef="let element" data-label="Prioridade">
                                    <span class="badge" [class.badge-success]="requestPriorityEnums[element.priority] === 'Baixa'"
                                        [class.badge-warning]="requestPriorityEnums[element.priority] === 'Alta'"
                                        [class.badge-danger]="requestPriorityEnums[element.priority] === 'Crítica'">
                                        {{ requestPriorityEnums[element.priority] }}
                                </span>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="status">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Situação</mat-header-cell>
                                <mat-cell *matCellDef="let element" data-label="Situação">
                                    <span class="badge" [class.badge-warning]="requestStatusEnums[element.status] === 'Em análise'"
                                        [class.badge-danger]="requestStatusEnums[element.status] === 'Recusado' || requestStatusEnums[element.status] === 'Cancelado'"
                                        [class.badge-success]="requestStatusEnums[element.status] === 'Concluído'">
                                        {{ requestStatusEnums[element.status] }}
                                    </span>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="actions">
                                <mat-header-cell *matHeaderCellDef>Ações</mat-header-cell>
                                <mat-cell class="td-actions text-center" *matCellDef="let element" data-label="Ações">
                                    <div class="btn-group">
                                        <button (click)="expandedElement = expandedElement === element ? null : element" class="btn btn-info"
                                            mat-raised-button matTooltip="Visualizar Materiais" rel="tooltip" type="button">
                                            <i class="material-icons">table_view</i>
                                        </button>
                                        <button class="btn btn-warning" rel="tooltip" mat-raised-button matTooltip="Editar" type="button">
                                            <i class="material-icons">edit</i>
                                        </button>
                                        <button class="btn btn-danger" rel="tooltip" mat-raised-button matTooltip="Excluir" type="button">
                                            <i class="material-icons">close</i>
                                        </button>
                                        </div>
                                        </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="expandedRequest">
                                <mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
                                    <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                                        <table class="table table-responsive table--expanded">
                                            <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Material</th>
                                                <th scope="col">Quantidade</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                              <tr *ngFor="let material of element.materials">
                                                <td scope="row">{{ material.id }}</td>
                                                <td>{{ material.description }}</td>
                                                <td>{{ material.amount }}</td>
                                              </tr>
                                            </tbody>
                                          </table>
                                    </div>
                                </mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
                            <mat-row class="table__row" *matRowDef="let element; columns: columnsToDisplay;">
                            </mat-row>
                            <mat-row [class.table__row--expanded]="expandedElement === element" class="table__row table__row--details"
                                *matRowDef="let element; columns: ['expandedRequest'];"></mat-row>
                        </mat-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
