@import "variables";

$menu-transition-type: cubic-bezier(0.77, 0.2, 0.05, 1);
$menu-transition-time: 500ms;

.menu {
  position: relative;
  z-index: 4;
  display: block;
  width: 32px;
  height: 22px;
  user-select: none;

  &__list {
    position: absolute;
    top: -1rem;
    width: 300px;
    height: 100vh;
    padding: 5rem 1rem 1rem;
    list-style-type: none;
    background: lighten($primary-color, 3%);
    transform: translateX(-400px);
    transition: transform $menu-transition-time $menu-transition-type;
    -webkit-font-smoothing: antialiased;
  }

  &__item {
    margin-bottom: 1rem;
    color: $white;
    font-weight: 400;
    font-size: 1.2rem;
  }

  &__link {
    text-decoration: none;

    &:hover {
      color: tomato;
    }

    &--active {
      color: tomato;
    }
  }

  &__line {
    position: relative;
    z-index: 1;
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    background: $white;
    border-radius: 3px;
    transform-origin: 4px 0;
    transition:
      transform $menu-transition-time $menu-transition-type,
      background $menu-transition-time $menu-transition-type,
      opacity 0.55s ease;

    &:first-child {
      transform-origin: 0% 0%;
    }

    &:nth-last-child(2) {
      transform-origin: 0% 100%;
    }
  }

  &__checkbox {
    position: absolute;
    top: -7px;
    left: -5px;
    z-index: 2;
    display: block;
    width: 40px;
    height: 32px;
    cursor: pointer;
    opacity: 0;
    -webkit-touch-callout: none;

    &:checked {
      & ~ .menu__list {
        transform: translateX(-1rem);
      }

      & ~ .menu__line {
        transform: rotate(45deg) translate(-2px, -1px);
        opacity: 1;

        &:nth-last-child(2) {
          transform: rotate(-45deg) translate(1px, 0);
        }

        &:nth-last-child(3) {
          transform: rotate(0deg) scale(0.2, 0.2);
          opacity: 0;
        }
      }
    }
  }
}
